/* padding changes from mobile to desktop */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}
.nav .right-side {
    display: flex;
    gap: 1rem;
}